include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include RELEASING.md
recursive-include benchmarks *.py
recursive-include docs *.md *.png
recursive-include examples *.md *.py
recursive-include tests *.py
recursive-include validation *.py
